<phpunit bootstrap="vendor/autoload.php">
    <testsuites>
        <testsuite name="refactor">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src/Refactor</directory>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-clover" target="clover.xml" />
    </logging>
</phpunit>